<div class="row">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>CRON expression</th>
            <th>Requester</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody infinite-scroll="infiniteScroll()" infinite-scroll-distance="7">
        <tr data-ng-cloak data-ng-repeat="execution in executions" ng-click="showExecutionDetails(execution)"
            class="execution-status-line">
            <td>{{execution.id}}</td>
            <td>{{execution.schedulingPattern.cronExpression}}</td>
            <td>{{execution.requester}}</td>
            <td><a class="btn-danger btn" ng-click="deleteExecution(execution, $event)"><span
                    class="glyphicon glyphicon-remove-circle"></span></a></td>
        </tr>
        </tbody>
    </table>
    <a ng-hide="loading || noMorePage" class="center-block btn btn-default" ng-click="infiniteScroll()">More</a>

    <div ng-show="loading"><img class="center-block" src="/images/ajax-loader.gif"/></div>
</div>

<script type="text/ng-template" id="scheduledexecutionmodal.html">
    <div class="modal-header">
        <h3>Execution {{execution.id}}</h3>
    </div>
    <div class="modal-body">
        <h4>Global</h4>
        <ul>
            <li>Requester : {{execution.requester}}</li>
            <li>CRON expression : {{execution.schedulingPattern.cronExpression}}</li>
        </ul>
        <h4>Script</h4>
        <ul>
            <li>Result bucket : {{execution.resultBucket}}</li>
            <li>Script :
                <ul>
                    <li>Bucket : {{execution.userScript.bucket}}</li>
                    <li>Path : {{execution.userScript.path}}</li>
                    <li>Timeout : {{execution.userScript.timeoutMs}}</li>
                </ul>
            </li>
        </ul>
        <h4>Compute Engine</h4>
        <ul>
            <li>Project id : {{execution.projectId}}</li>
            <li>Disk/instance name : {{execution.diskAndInstanceName}}</li>
            <li>Machine configuration :
                <ul>
                    <li>Machine type : {{execution.gceConfiguration.machineType}}</li>
                    <li>Zone : {{execution.gceConfiguration.zone}}</li>
                    <li>Image : {{execution.gceConfiguration.image}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>